[submodule "Pack/vendor/spdlog"]
	path = Pack/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Pack/vendor/GLFW"]
	path = Pack/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Pack/vendor/imgui"]
	path = Pack/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Pack/vendor/glm"]
	path = Pack/vendor/glm
	url = https://github.com/g-truc/glm
